<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Blog</title>
        <meta name="description" content="Blog">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <main>
            {{> header }}
            <section>
                {{#each posts}}
                    <article id="{{this._id}}" class="post">
                        {{#if this.date}}
                            <time datetime="{{this.data}}">{{this.date}}</time>
                        {{/if}}
                        <h1><a href="/{{this.slug}}">{{this.title}}</a></h1>
                        {{#if this.tags}}
                            <div class="tags">
                                {{#each this.tags}}
                                    <a href="/tag/{{this}}">{{this}}</a>
                                {{/each}}
                            </div>
                        {{/if}}
                        <div class="content">
                            {{{this.content}}}
                        </div>
                    </article>
                {{/each}}
            </section>
            {{> footer }}
        </main>
        <script>
            console.log('Hello World');
        </script>
    </body>
</html>

